#home {
    height: 100vh;
    .timer__content--holder {
        .timer__content--main {
            span {
                font-size: 1.3em;
                letter-spacing: 0.2em;
                font-weight: $font-weight-bold;
                @media screen and (min-width: $screen-xxs-min) and (max-width: $screen-xxs-max) {
                    font-size: 1em;
                }
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 1.6em;
                }
            }
        }
    }
}